{% macro render_item_actions(business, class_='right') %}
    {% if current_user.is_authenticated %}
    <div class='business-item-actions {{ class_ }}'>
        <span action='edit'><a href="{{ url_for('business.edit_business', business_id=business.id) }}"><span class='glyphicon glyphicon-pencil'></span>Edit</a></span>
        <span action='delete'><a href="{{ url_for('business.delete_business', business_id=business.id) }}"><span class='glyphicon glyphicon-trash'></span>Delete</a></span>
        <span action='create-promotion'><a href="{{ url_for('promotion.create_promotion_per_business', business_id=business.id) }}"><span class='glyphicon glyphicon-plus'></span>Create a promotion</a></span>
        <span action='link-internet-deal'><a href="{{ url_for('promotion.link_deal_per_business', business_id=business.id) }}"><span class='glyphicon glyphicon-link'></span>Link a deal</a></span>
    </div>
    {% endif %}
{% endmacro %}

{% macro render_business_item(business) %}
<div class='business-item'>
    <div class='row'>
        <div class='col-xs-12 col-sm-4'>
            <h4><a href="{{ url_for('business.view_business', business_id=business.id) }}">{{ business.name }}</a></h4>
        </div>
        <div class='col-xs-12 col-sm-8'>
            {{ render_item_actions(business) }}
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12 col-sm-4'>
            <table class='table table-borderless'>
                <tbody>
                    <tr>
                        <th>Address</th>
                        <td>{{ business.full_address }}</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td><a href='{{ business.website }}'>{{ business.website }}</a></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><a href='mailto:{{ business.email }}'>{{ business.email }}</a></td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{ business.phone }}</td>
                    </tr>
                    <tr>
                        <th>Fax</th>
                        <td>{{ business.fax }}</td>
                    </tr>                    
                </tbody>
            </table>
        </div>
        <div class='col-xs-12 col-sm-8'>
            <div class='media'>
            <div class='media-body'>
                <p>{{ business.description }}</p>
            </div>
            <div class='media-right'>
                <img class='media-object business-item-logo' src='{% if business.logo %} {{ business.logo }} {% endif %}' alt='business-logo'>
            </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_business_blob(business) %}
<div class='business-blob'>
    <div class='panel panel-default'>

    <div class='panel-heading'>
        <h4>{{ business.name }}</h4>
    </div>

    <div class='panel-body'>
        <div class='media'>
        <div class='media-left'>
            <img class='media-object business-item-logo' src='{% if business.logo %} {{ business.logo }} {% endif %}' alt='business-logo'>
        </div>
        <div class='media-body'>
            <div><b>Address: </b>{{ business.full_address }}</div>
            <div><b>Website: </b><a href='{{ business.website }}'>{{ business.website }}</a></div>
            <div><b>Email: </b><a href='mailto:{{ business.email }}'>{{ business.email }}</a></div>
            <div><b>Phone: </b>{{ business.phone }}</div>
            <div><b>Fax: </b>{{ business.fax }}</div>
        </div>
        </div>
    </div>

    </div>
</div>
{% endmacro %}


{% macro render_search_results_table(businesses) %}
<table class='table table-borderless'>
    <tbody>
    {% for business in businesses %}
        <tr>
        <td>
            <div class='media'>
            <div class='media-left'>
                <img class='media-object business-logo' src='{% if business.logo %} {{ business.logo }} {% endif %}' alt='business-logo'>
            </div>
            <div class='media-body'>
                <h5><a href='{{ url_for("business.view_business", business_id=business.id) }}'>{{ business.name }}</a><h5>
                <p><i>{{ business.full_address }}</i></h5></p>            
            </div>            
            </div>            
        </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endmacro %}
