.top-bar {
    height: 92px;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    right: 0;
    border-top: 3px solid @main-color;
}

.top-bar-wrapper {
    background: #fafafb;
    padding-right: 10px;
}

.top-bar-content {
    margin: auto;
    max-width: 1096px;
    position: relative;
    height: 55px;
    color: white;
    padding-top: 3px;
    padding-bottom: 2px;    
}

.secondary-top-bar-wrapper {
    background: #fafafb;
    border-bottom: 1px solid rgba(12,13,14,0.1);
    //box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025);
    //transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
    position: absolute;
    top: 54px;
    left: 0;
    right: 0;    
}

.top-bar a {
    text-decoration: none;
}

.top-bar a:hover {
    text-decoration: none;
}

.site-info-top-bar {
    float: left;
    display: inline-block;

    .site-logo {
        width: 50px;
        height: 50px;
    }

    .site-name {
        font-size: 22px;
        font-weight: 600;
        color: #333;
        vertical-align: top;
        line-height: 50px;
        margin-left: 10px;
    }
}

.top-bar .search-box {
    margin: auto;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    max-width: 50%;
    position: absolute;
    left: 250px;
    right: 250px;


    input, input:focus {
        line-height: 20px;
        &:before {
            content: "<i class='glyphicon glyphicon-search' aria-hidden="true"></i>";
        }
    }

    .input-group-addon {
        color: white;
        background: #e74c3c;
        border: none;
        cursor: pointer;
    }
}

.top-bar .nav {
    float: right;
    height: 100%;
    line-height: 50px;
    display: inline-block;
    padding-top: 10px;
}

.top-bar .nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

.top-bar .nav > ul > li {
    display: inline;
    float: left;
}

.top-bar .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    display: block;
    text-decoration: none;
    margin-left: 15px;
    line-height: 32px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    font-size: 12px;

    &:hover {
        background: #eee;
        color: #333;
    }

    &.login-btn {
        border: none;
        color: white;
        background: #337ab7;

        &:hover {
            background: #3337ab7;
            color: white;
        }
    }
}

.top-bar .nav .toggle-menu-icon {display: none;}

.top-bar .nav li:hover {
    .dropdown-menu {
        display: block;
    }
}


.secondary-top-bar-content {
    max-width: 986px;
    position: relative;
    margin: auto;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    overflow: hidden;

    .secondary-links {
        position: absolute;
        top: 0;
        left: 0;
        right: 30;
        line-height: 30px;
        height: 25px;
        overflow: hidden;
        transition: left 0.5s ease;        
    }

    .navigate-secondary-links {
        width: 55px;
        padding-left: 10px;
        z-index: 999;
        position: absolute;
        line-height: 30px;
        height: 25px;
        top: 0;
        right: 0;
        background: #fafafb;
        text-align: right;               

        span {
            cursor: pointer;
            margin-left: 5px;
            &.disabled {
                color: #d8d8d8;
            }
        }        

    }
}

.secondary-nav-link {
    font-size: 12px;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    &:first-child {
        color: @main-color;
        font-weight: 600;
    }

    &:nth-child(2) {
        color: @midnightBlue;
        font-weight: 600;
    }

    &:not(:last-child) {
        margin-right: 70px;
    }
}

@media screen and (max-width: 768px) {
    .top-bar-content {
        width: 100%;        
    }
    
    .site-info-top-bar .site-name {
        display: none;
    }

    .top-bar .search-box {
        left: 70px;
        right: 70px;
        max-width: 70%;
    }

    .top-bar .nav .toggle-menu-icon {
        display: inline-block;
        position: absolute;
        right: -10px;
        top: 0;
    }

    .top-bar .nav.responsive {
        width: 100%;
    }

    .top-bar .nav .toggle-menu-icon:hover {
    }

    .top-bar .nav ul li {display: none;}

    .top-bar .nav.responsive ul {
        position: fixed;
        left:0;
        right:0;
        top: 94px;
        background: #fafafb;
        box-shadow: 0 1px 0 rgba(12,13,14,0.15);
    }

    .top-bar .nav.responsive ul li {
        float: none;
        display: inline;
        height: 50px;
        a {
            display: block;
            text-align: left;
        }
    }
    
    .top-bar .nav-link {
        line-height: 50px;
        height: 50px;
        color: #333;
        font-size: 13px;
        border: none;
        margin-left: 0;

        &.login-btn {
            color: #333;
            background: inherit;

            &:hover {
                background: #eee;
                color: #333;
            }            
        }
    }

    .secondary-nav-link {
        &:not(:last-child) {
            margin-right: 35px;
        }        
    }
}
