{% block footer %}
<div class='footer'>
    <div class='footer-content'>
        <div class='footer-links row'>
            <div class='footer-links-col col-xs-12 col-sm-3'>
                <h5>Company</h5>
                <span><a href='/about'>About SumoPromo</a></span>
                <span><a href='/blog'>Blog</a></span>
                <span><a href='/press'>Press</a></span>
            </div>
            <div class='footer-links-col col-xs-12 col-sm-4'>
                <h5>Work with SumoPromo</h5>
                <span><a href='/become-a-sumopromo-partner'>Become a SumoPromo Partner</a></span>
                <span><a href='/sumopromo-partner-benefits'>Learn about Partner's benefits</a></span>
                <span><a href='/pricing'>Pricing</a></span>
                </div>
            <div class='footer-links-col col-xs-12 col-sm-3'>
                <h5>More</h5>
                <span><a href='/faq'>FAQ</a></span>
                <span><a href='/help'>Help</a></span>
            </div>
            <div class='footer-links-col col-xs-12 col-sm-2'>
                <img class='footer-logo' alt='sumopromo' src='/static/img/logo_with_slogan.png'>
            </div>            
        </div>
        <div class='footer-copyright row'>
            <div class='col-xs-12'>
                (C) 2017 SumoPromo LLP. All Rights Reserved. 
                <a href='/privacy'>Privacy Policy</a>
                <a href='/tos'>Terms of Service</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
