<div id='top-bar' class='top-bar'>
    <div class='top-bar-wrapper'>
    <div class='top-bar-content'>

        <a href='/' class='site-info-top-bar'>
            <span id='site-logo'>
                <img  class='site-logo' src='/static/img/logo.png'>
            </span>
            <span id='site-name' class='site-name'>SumoPromo</span>
        </a>
        
        <div id='top-bar-search-box' class='search-box'>
            <form action='/search' method='GET'>
                <div class='input-group'>
                    <div class='input-group-addon'><span id='top-bar-search-location' class='glyphicon glyphicon-map-marker' aria-hidden="true"></span></div>
                    <input id='top-bar-search-input' type='text' name='query' class='form-control' placeholder='Search promotions, deals and businesses'>
                    <div class='input-group-addon'><span id='top-bar-search-submit' class='glyphicon glyphicon-search' aria-hidden="true"></span></div>
                </div>
            </form>
        </div>

        <div id='nav' class='nav'>
            <ul>
                {% if current_user.is_authenticated %}
                <li><a href='/my-account' class='nav-link' id='myaccount-menu' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'>My Account</a></li>
                <li><a href='/logout' class='nav-link'>Log Out</a></li>
                {% else %}
                <li><a href='/contact' class='nav-link'>Help</a></li>
                <li><a href='/login' class='nav-link login-btn'>Log In</a></li>
                {% endif %}
            </ul>
            <span class="toggle-menu-icon">
                <a href="javascript:void(0);" class='nav-link' style="font-size:15px;" onclick="toggleMenu('nav')">☰</a>
            </span>
        </div>
    </div>
    </div>

    <div class='secondary-top-bar-wrapper'>
        <div class='secondary-top-bar-content'>
            <div id='secondary-links' class='secondary-links'>
            <a class='secondary-nav-link' href='/'>Discover</a>
            <a class='secondary-nav-link' href='/deals-of-the-day'>Deals of the day</a>
            <a class='secondary-nav-link' href='/category/food-drink'>Food & Drink</a>
            <a class='secondary-nav-link' href='/category/beauty-spas'>Beauty & Spas</a>
            <a class='secondary-nav-link' href='/category/health-fitness'>Health & Fitness</a>            
            <a class='secondary-nav-link' href='/category/retail'>Retail</a>
            <a class='secondary-nav-link' href='/category/travel'>Travel</a>
            <a class='secondary-nav-link' href='/category/pets'>Pets</a>            
            </div>
            <div class='navigate-secondary-links'>
                <span id='nav-secondary-left' class='disabled nav-secondary-left glyphicon glyphicon-chevron-left'></span>
                <span id='nav-secondary-right' class='nav-secondary-right glyphicon glyphicon-chevron-right'></span>
            </div>
        </div>
    </div>
</div>
