{% extends "layouts/L39.html" %}

{% import "macros/form.html" as form_macro %}
{% import "macros/account.html" as account_macro %}

{% block left_column %}
{{ account_macro.control_sidebar(current_user) }}
{% endblock %}

{% block right_column %}
<div id='create-promotion-container'>
    <h2>Create a promotion</h2>
    <div class='row'>
        <div class='col-xs-12 col-sm-6'>
            {{ form_macro.render_form( form, action_url=url_for('promotion.create_promotion'), action_text='Create', btn_class='btn btn-success', cancel_btn=url_for('promotion.manage_promotions') ) }}
        </div>
    </div>
</div>
{% endblock %}

