{% extends "layouts/L39.html" %}

{% import "macros/account.html" as account_macro %}

{% block left_column %}
{{account_macro.control_sidebar(current_user)}}
{% endblock %}


{% block right_column %}
<div>
    <h4>Are you sure you want to delete {{promotion.name}}?</h4>
    <form method='POST' action="{{url_for('promotion.delete_promotion', promotion_id=promotion.id)}}">
        <input type='submit' class='btn btn-danger' value='Delete'>
        <a href='/manage-promotions' name='cancel' class='btn btn-default'>Cancel</a>
    </form>
</div>
{% endblock %}

