{% extends "layouts/L75.html" %}

{% import "macros/business.html" as business_macro %}
{% import "macros/promotion.html" as promotion_macro with context %}

{% block left_column %}
<div class='promotion-details row'>
    <div>
        <h3>{{ promotion.name }}</h3> 
        <div class='row'>
            <div class='col-xs-12'>
                {{ promotion_macro.render_item_actions(promotion, class_='left') }}
            </div>
            <div class='col-xs-12'>
                {{ promotion_macro.render_promotion_status(promotion) }}
                {{ promotion_macro.render_promotion_type(promotion) }}
            </div>
        </div>
    </div>
    <br>
    <div class='col-xs-12'>
        <h5><a href="{{ url_for('business.view_business', business_id=promotion.business.id) }}">{{ promotion.business.name }}</a> <i> {{ promotion.business.full_address }} </i></h5>
    </div>

    <div class='col-xs-12'>
        <div class='promotion-description'>
            <p>{{ promotion.description }}</p>
        </div>
    </div>

</div>
{% endblock %}


{% block right_column %}
<div class='row'>
    <div class='col-xs-12'>
        {{ promotion_macro.render_info_and_claim(promotion) }}
    </div>
</div>
<br>
<div class='row'>
    <div class='col-xs-12'>
        {{ business_macro.render_business_blob(promotion.business) }}
    </div>
</div>
</div>
{% endblock %}

