{% extends "layouts/L84.html" %}

{% import "macros/utils.html" as utils_macro %}
{% import "macros/promotion.html" as promotion_macro with context %}
{% import "macros/business.html" as business_macro with context %}

{% block left_column %}
<div id='business-details-container' class='business-details-container row'>
    <div class='col-xs-12'>
        <h3>{{ business.name }}</h3>
        {{ business_macro.render_item_actions(business, class_='left') }}
    </div>
    <div class='business-details-section col-xs-12'>
        <h5><i>{{ business.full_address }}</i></h5>
    </div>

    <div class='business-details-section col-xs-12'>
        <div class='business-media'>
            <img alt='business_logo' class='business-logo' src="{% if business.logo %}{{ business.logo }} {% endif %}">
        </div>
    </div>

    <div class='business-details-section col-xs-12'>
        <div class='business-description'>
            <p>{{ business.description }}</p>
        </div>
    </div>

    <div class='business-details-section col-xs-12'>
        <h4>Promotions</h4>
        <div class='business-promotions'>
            {{ promotion_macro.render_promotions_table(business.promotions) }}
        </div>
    </div>

    <div class='business-details-section col-xs-12'>
        <h4>Reviews</h4>    
        <div class='business-reviews'>
        </div>
    </div>
</div>
{% endblock %}


{% block right_column %}
<div id='business-info-sidebar' class='business-info-sidebar panel panel-default'>
    <div class='panel-body'>

    <div class='row'>
        <div class='col-xs-12 business-map'>
        <!-- {{ utils_macro.create_map(height='300px', address=business.full_address) }} -->
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-4'>
            <b>Website</b>
        </div>
        <div class='col-xs-8'>
            <a href='{{ business.website }}'>{{ business.website }}</a>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-4'>
            <b>Email</b>
        </div>
        <div class='col-xs-8'>
            <a href='mailto:{{ business.email }}'>{{ business.email }}</a>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-4'>
            <b>Phone</b>
        </div>
        <div class='col-xs-8'>
            {{ business.phone }}
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-4'>
            <b>Fax</b>
        </div>
        <div class='col-xs-8'>
            {{ business.fax }}
        </div>
    </div>

    </div>
</div>
{% endblock %}
